{%  extends 'layout.html.twig' %}

{% block content %}

    <!-- Contact Section
================================================== -->
    <section id="contact">

        <div class="row section-head">

            <div class="two columns header-col">

                <h1><span>Get In Touch.</span></h1>

            </div>

            <div class="ten columns">

                <p class="lead">
                    {{  'contact.p' |trans|raw }}
                </p>

            </div>

        </div>

        <div class="row">

            <div class="eight columns">

                <!-- form -->
                <form action="" method="post" id="contactForm" name="contactForm">
                    <fieldset>

                        <div>
                            <label for="contactName">{{  'contact.name' |trans|raw }}<span class="required">*</span></label>
                            <input type="text" value="" size="35" id="contactName" name="contactName">
                        </div>

                        <div>
                            <label for="contactEmail">{{  'contact.email' |trans|raw }} <span class="required">*</span></label>
                            <input type="text" value="" size="35" id="contactEmail" name="contactEmail">
                        </div>

                        <div>
                            <label for="contactSubject">{{  'contact.subject' |trans|raw }}</label>
                            <input type="text" value="" size="35" id="contactSubject" name="contactSubject">
                        </div>

                        <div>
                            <label for="contactMessage">{{  'contact.message' |trans|raw }} <span class="required">*</span></label>
                            <textarea cols="50" rows="15" id="contactMessage" name="contactMessage"></textarea>
                        </div>

                        <div>
                            <button class="submit">{{  'contact.submit' |trans|raw }}</button>
                            <span id="image-loader">
                        <img alt="" src="../web/public/images/loader.gif">
                     </span>
                        </div>

                    </fieldset>
                </form> <!-- Form End -->

                <!-- contact-warning -->
                <div id="message-warning"> {{  'contact.error' |trans|raw }}</div>
                <!-- contact-success -->
                <div id="message-success">
                    <i class="fa fa-check"></i>{{  'contact.success' |trans|raw }}<br>
                </div>

            </div>


            <aside class="four columns footer-widgets">

                <div class="widget widget_contact">

                    <h4>{{  'contact.address' |trans|raw }}</h4>
                    <p class="address">
                        Abdelffatteh Chebil<br>
                        1 Rue de la Justice<br>
                        Epinay Sur Seine , 93800<br>
                        <span>(+33) 6 59 11 62 71</span>
                    </p>

                </div>

                <div class="widget widget_tweets">

                </div>

            </aside>

        </div>

    </section> <!-- Contact Section End-->

{%  endblock %}