{% block nav %}
        <nav id="nav-wrap" class="opaque">

            <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
            <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>

            <ul id="nav" class="nav">
                <li class="current"><a class="smoothscroll" href="/{{ app.request.getLocale() }}">{{ 'nav.home'| trans }}</a></li>
                <li><a class="smoothscroll" href="/{{ app.request.getLocale() }}/about">{{ 'nav.about' | trans }}</a></li>
                <li><a class="smoothscroll" href="/{{ app.request.getLocale() }}/experiences">{{ 'nav.experiences' | trans }}</a></li>
                <li><a class="smoothscroll" href="/{{ app.request.getLocale() }}/education">{{ 'nav.education'|trans }}</a></li>
                <li><a class="smoothscroll" href="/{{ app.request.getLocale() }}/skills">{{ 'nav.skills' | trans }}</a></li>
                <li><a class="smoothscroll" href="/{{ app.request.getLocale() }}/contact">{{ 'nav.contact' | trans }}</a></li>
                <li class="dropdown">
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/fr"> Fr</a></li>
                        <li><a href="/en"> En</a></li>
                    </ul>
                </li>
            </ul> <!-- end #nav -->

        </nav> <!-- end #nav-wrap -->
{%  endblock %}