{% block nav %}
        <nav id="nav-wrap" class="opaque">

            <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
            <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>

            <ul id="nav" class="nav">
                <li class="current"><a class="smoothscroll" href="/{{ app.request.getLocale() }}">{{ 'nav.home'| trans }}</a></li>
                <li><a class="smoothscroll" href="/{{ app.request.getLocale() }}/about">{{ 'nav.about' | trans }}</a></li>
                <li><a class="smoothscroll" href="/{{ app.request.getLocale() }}/experiences">{{ 'nav.experiences' | trans }}</a></li>
                <li><a class="smoothscroll" href="/{{ app.request.getLocale() }}/education">{{ 'nav.education'|trans }}</a></li>
                <li><a class="smoothscroll" href="/{{ app.request.getLocale() }}/skills">{{ 'nav.skills' | trans }}</a></li>
                <li><a class="smoothscroll" href="/{{ app.request.getLocale() }}/contact">{{ 'nav.contact' | trans }}</a></li>
                <li class="smoothscroll">
                    <a href="/en"><img src="../web/public/images/flags/uk.png" height="12" alt="" width="18" /></a>
                    <a href="/fr"><img src="../web/public/images/flags/fr.png" height="12" alt="" width="18" /></a>
                </li>
            </ul> <!-- end #nav -->

        </nav> <!-- end #nav-wrap -->
{%  endblock %}